<!DOCTYPE html>
<html>
<head>
    <title>Jogadores do Barcelona</title>
</head>

<body>

<h1>Jogadores do Barcelona</h1>

<ul>
    <li>Robert Lewandowski</li>
    <li>Pedri</li>
    <li>Gavi</li>
    <li>Frenkie de Jong</li>
    <li>Ronald Araújo</li>
</ul>

<a href="/barcelona">Voltar</a>

</body>
</html>