<!DOCTYPE html>
<html>
<head>
    <title>Títulos do Barcelona</title>
</head>

<body>

<h1>Principais Títulos</h1>

<ul>
    <li>Champions League</li>
    <li>La Liga</li>
    <li>Copa do Rei</li>
    <li>Supercopa da Espanha</li>
    <li>Mundial de Clubes</li>
</ul>

<a href="/barcelona">Voltar</a>

</body>
</html>