extends layout

block content
  h1 Bem vindo a página do #{title}
  h2 História do #{title}
  p O Grêmio Foot-Ball Porto Alegrense foi fundado em 15 de setembro de 1903, na cidade de Porto Alegre, no Rio Grande do Sul. O clube foi criado por um grupo de amigos liderado por Cândido Dias da Silva.
  p Ao longo de sua história, o Grêmio se tornou um dos clubes mais tradicionais do futebol brasileiro. O time conquistou diversos títulos importantes, incluindo a Copa do Brasil, o Campeonato Brasileiro e a Copa Libertadores da América.
  p O clube manda seus jogos na Arena do Grêmio e é conhecido como "Imortal Tricolor", devido à sua tradição e à força de sua torcida.