doctype html
html
  head
    title Jogadores - Barcelona
  body
    h1 Jogadores do Barcelona

    ul
      li Robert Lewandowski
      li Pedri
      li Gavi
      li Frenkie de Jong
      li Ronald Araújo

    a(href="/barcelona") Voltar