doctype html
html
  head
    title Títulos - Barcelona
  body
    h1 Principais Títulos do Barcelona

    ul
      li Champions League
      li Campeonato Espanhol (La Liga)
      li Copa do Rei
      li Supercopa da Espanha
      li Mundial de Clubes

    a(href="/barcelona") Voltar